# raylib image viewer
/raylib_zig_image_viewer/.zig-cache
/raylib_zig_image_viewer/.zig-cache/*
/raylib_zig_image_viewer/zig-out
/raylib_zig_image_viewer/zig-out/*

# snake game
/snake_game/.zig-cache
/snake_game/.zig-cache/*
/snake_game/zig-out
/snake_game/zig-out/*

# pong game
/pong_game/.zig-cache
/pong_game/.zig-cache/*
/pong_game/zig-out
/pong_game/zig-out/*